{% set active_page = 'Home' %}
{% block pageheader %}
{% endblock pageheader %}

{% block fullPage %}

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Demo</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Custom fonts for this template -->
    <link href="/static/vendor/font-awesome/css/fontawesome-all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/one-page-wonder.css" rel="stylesheet">

    <!-- JQuery and javascript -->
    <script type="text/javascript" src="/static/js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/static/js/demo.js"></script>


</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container">
            <a href=/index class="btn btn-primary rounded-pill-logo navbar-brand" style="color:#ecf0f1;">HeadAid</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Functionality</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/demo">Demo</a>
                    </li>
                    <li class="nav-item">
                        <a href="mailto:ferianc.martin@gmail.com" class="btn btn-primary rounded-pill-contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section>
        <div class="container" style="padding-top:100px">
            <p id="time" class="text-right"></p>
            <p class="text-left"><h2>{{team_name}}</h2></p>
            <div class="row" style="padding-bottom:30px;">
                {% for player in players %}
                <div class="player col-sd-1" style="padding-right:40px">
                    <img src="/static/img/player.jpg"/>
                    <div class="row" style="padding-top:10px">
                        <h6 style="padding-left:20px">{{player['number']}}</h6>
                        <h6 style="padding-left:10px">{{player['name']}}</h6>
                    </div>
                    <div class="row">
                        <div class="col-sd-12">
                            <img src="/static/img/{{player['condition']}}.gif" style="padding-left:25px; padding-top:6px;"/>
                        </div>
                        <div class="col-sd-12">
                            <form action="/demo/{{player['index']}}" method="post">
                                <button class="btn btn-default" type="submit">
                                    <img class="on_field" id={{player['index']}} src="/static/img/{{player['on_field']}}.png"/>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </section>



    <!-- Footer -->
    <footer class="py-3 footer">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Martin Ferianc, Alexander T. Luisi, Owen Harcombe 2018 @ IC</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    {% endblock fullPage %}
