{% set active_page = 'Home' %}
{% block pageheader %}
{% endblock pageheader %}

{% block fullPage %}

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>HeadAid | Helps you diagnose and avoid brain injuries</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/static/vendor/font-awesome/css/fontawesome-all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/one-page-wonder.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container">
            <a class="btn btn-primary rounded-pill-logo navbar-brand" style="color:#ecf0f1;">HeadAid</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#functionality">Functionality</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#team">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/demo">Demo</a>
                    </li>
                    <li class="nav-item">
                        <a href="mailto:ferianc.martin@gmail.com" class="btn btn-primary rounded-pill-contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead">
      <div class="container">
        <div class="masthead-content">
            <h1 class="masthead-heading mb-0">HeadAid</h1>
            <h2 class="masthead-subheading mb-0">Helps you diagnose and avoid brain injuries</h2>
            <a href="#about" class="btn btn-primary btn-xl rounded-pill mt-5 text-center">Learn More</a>
        </div>
      </div>
    </header>

    <section>
        <div class="container" id="about">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="/static/img/01.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">About</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container" id="functionality">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="/static/img/02.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h2 class="display-4">How does it work?</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container" id="team">
            <div class="col-lg-12" style="padding: 100px 0px 0px;">
                <h2 class="display-4">Team</h2>
            </div>
        <div class="row">
            <div class="col-md-3 column-pad text-center">
                <img src="/static/img/team/martin.jpg" class="img-responsive img-circle" alt="">
                <h4 class="text-center" style="padding-top: 15px;">Martin Ferianc</h4>
                <ul class="list-inline social-buttons text-center">
                    <li style="margin: 10px;"><a href="https://www.linkedin.com/in/martin-ferianc-987751ab?authType=NAME_SEARCH&authToken=7-P6&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A393012535%2CauthType%3ANAME_SEARCH%2Cidx%3A1-2-2%2CtarId%3A1454210850483%2Ctas%3Aferianc%20martin" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
                    </li>
                    <li style="margin: 10px;"><a href="https://www.github.com/fexter-svk" target="_blank"><i class="fab fa-github fa-2x "></i></a>
                    </li>
                    <li><a href="https://www.ferianc.eu" target="_blank"><i class="fas fa-home fa-2x "></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 column-pad text-center">
                <img src="/static/img/team/owen.jpg" class="img-responsive img-circle" alt="">
                <h4 class="text-center" style="padding-top: 15px;">Owen Harcombe</h4>
                <ul class="list-inline social-buttons text-center">
                    <li style="margin: 10px"><a href="https://www.linkedin.com/in/owen-harcombe-27422a114/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
                    </li>
                    <li><a href="https://github.com/Odog1996" target="_blank"><i class="fab fa-github fa-2x"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 column-pad text-center">
                <img src="/static/img/team/alexl.jpg" class="img-responsive img-circle" alt="">
                <h4 class="text-center" style="padding-top: 15px;">Alexander Luisi</h4>
                <ul class="list-inline social-buttons text-center">
                    <li style="margin: 10px">
                        <a href="https://www.linkedin.com/in/alexander-luisi/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
                    </li>
                    <li><a href="https://github.com/luisi-at" target="_blank"><i class="fab fa-github fa-2x"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 column-pad text-center">
                <img src="/static/img/team/alexm.jpg" class="img-responsive img-circle" alt="">
                <h4 class="text-center" style="padding-top: 15px;">Alexander Montgomerie</h4>
                <ul class="list-inline social-buttons text-center">
                    <li style="margin: 10px">
                        <a href="https://www.linkedin.com/in/alexander-montgomerie-corcoran-83aa7312a/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
                    </li>
                    <li><a href="https://github.com/AlexMontgomerie" target="_blank"><i class="fab fa-github fa-2x"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="py-3 footer">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Martin Ferianc, Alexander T. Luisi, Owen Harcombe 2018 @ IC</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
{% endblock fullPage %}
<!-- Bootstrap core JavaScript -->
<script src=" {{ url_for('static', filename='js/scripts.js') }}"></script>
