{% set active_page = 'Home' %}
{% block pageheader %}
{% endblock pageheader %}

{% block fullPage %}

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>HeadAid | Never Miss a Hit</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Custom fonts for this template -->
    <link href="/static/vendor/font-awesome/css/fontawesome-all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/one-page-wonder.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container">
             <a href="/index"><img src="/static/img/logo.png" href="/index" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#functionality">Functionality</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#market">Market</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#video">How does it work?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#technology">Technology</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/demo">Demo</a>
                    </li>
                    <li class="nav-item">
                        <a href="mailto:ferianc.martin@gmail.com" class="btn btn-primary rounded-pill-contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h1 class="brand-heading">HeadAid</h1>
              <p class="intro-text">Helps you identify concussions by never missing a hit.</p>
              <a href="#about" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section>
        <div class="container" id="about">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                    <div class="row">
                        <div class="col-sd-2">
                            <img class="img-fluid" src="/static/img/hint.png" alt="">
                        </div>
                        <div class="col-sd-10">
                            <h6 class="display-4" style="padding-top:20px; padding-left:10px;">About</h6>
                        </div>
                        <div class="row" style="padding-top:15px;">
                            <div class="col-lg-12">
                                <p>HeadAid was founded by a group of undergraduate engineers from the Electrical and Electronic Engineering Department at Imperial College London. The project was proposed when co-founder Alex Luisi, an avid ice hockey player and member of the university team, realised how common concussions are within ice hockey and how easy it is to miss the signs of Traumatic Brain Injury (TBI), especially when players feel uninjured and want to return to the ice.  </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5">
                            <img class="img-responsive rounded-circle" src="/static/img/check.png" alt="">
                        </div>
                    </div>
                </div>
        </div>
    </section>

    <section>
        <div class="container" id="functionality">
            <div class="row align-items-center">
                <div class="col-lg-6  order-lg-1 text-center">
                    <div class="p-5">
                        <h3>Select which player is on the ice!</h3>
                        <img class="img-fluid" src="/static/img/on_field.gif" alt="">
                        <h3 style="padding-top:100px;">See the state:</h3>
                        <img class="img-fluid" src="/static/img/states.gif"  style="width:50%;" alt="">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-2">
                    <div class="row">
                        <div class="col-sd-2">
                            <img class="img-responsive" src="/static/img/cpu2.png" alt="">
                        </div>
                        <div class="col-sd-10">
                            <h6 class="display-4" style="padding-top:20px; padding-left:10px;">Functionality</h6>
                        </div>
                    </div>
                    <div class="row" style="padding-top:15px;">
                        <div class="col-lg-12">
                            <p>With concussions being reported one of the most frequent injuries in Ice Hockey, and renewed efforts to better understand Traumatic Brain Injuries (TBI), there is demand to enhance identification of a potential injury. Studies have shown that NHL players experience an average of 1.8 concussions every 1000 hours of play and almost double that for juniors, with 12% of each year reporting a head injury and of these head injuries that are sustained, over half may go unreported demonstrating that concussions are a regular occurrence across all leagues. In fact, pressure on the league has bolstered efforts to overhaul traditional diagnosis and treatment methodology as a whole. </p>
                            <p>For frequent players, these recurrent injuries can lead to significant problems later on in life. Although no helmet will provide complete protection from injury, HeadAid provides a real-time, connected solution for immediate impact identification, which could result in reducing subsequent and potentially more serious damage during a match.</p>
                            <p>Accurate concussion identification factors rely on detecting acceleration and angular velocity relating to head movement. HeadAid combines both an accelerometer and gyroscope to record these accelerations, is discreetly nestled between the airflow gaps in the helmet padding to prevent it from external damage and provide more accurate data capture, by bringing it closer to the head. Machine Learning techniques are used to give detailed thresholds and identify trends to pinpoint the impacts most likely to cause TBI and determine whether a player should be examined and removed from play. Inherent cloud-integration and a web application empowers you (and your team doctor) to monitor all of your team from the bench in real time.</p>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container" id="market">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <img class="img-fluid" src="/static/img/chart.png" alt="">
                        <img class="img-fluid" src="/static/img/chart.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="row">
                        <div class="col-sd-1">
                            <img class="img-responsive" src="/static/img/moneybag.png" alt="">
                        </div>
                        <div class="col-sd-11">
                            <h5 class="display-4" style="padding-top:20px; padding-left:10px;">Playing Now</h5>
                        </div>
                    </div>
                    <div class="row" style="padding-top:15px;">
                        <div class="col-lg-12">
                          <p>HeadAid is for hockey teams across all skill levels. The risk of concussion is present at any level of the sport but most at risk are the young. The target market is junior hockey teams, high school and college teams with the aim to soon expand into the professional leagues. </p>
                          <p>There is currently only one such product that attempts to indicate whether a concussion has been sustained. i1 Biometrics’ Shockbox involves a sensor mounted on the top of the helmet that connects to a smartphone via Bluetooth and feeds back real time information regarding player impacts.</p>
                          <p>According to i1 Biometrics’ website, the system does not take into account other metrics such as player age and weight in order to provide a more detailed impact analysis. Data access is also limited as the app must be installed in a smartphone and the coach be registered to a cloud service to further inspect the data. </p>
                          <h3>We Play in the Big Leagues</h3>
                          <p>With over half a million USA Hockey registered players in just the United States alone, of which 60% belong to a junior team, the time has never been better to enter the market, especially when it comes to growing the game.</p>
                          <p>HeadAid employs machine learning to provide an impact decision based on the sensor data in the helmet along with player metrics- age, weight and years of experience. Inexperienced players are more likely to suffer harmless impacts caused by tripping or awkward exits but are equally as likely to sustain serious impacts. With these extra metrics, HeadAid is automatically able to calibrate and adapt to each player in order to identify the impacts that could lead to a concussion.</p>
                          <p>HeadAid is entirely cloud-based, meaning that you can access data and monitor team real time without the need for an app and instead through their browser. The webpage automatically adjusts to your platform so that the page is just as accessible on mobile as it is on desktop, so that the HeadAid can be accessed anytime, anywhere. </p>
                          <p>With an intuitive interface that also shows game history, you can see the data that matters the most, so that you can protect your players from long-term damage without the hassle of sifting through piles and piles of raw data.</p>
                          <p>HeadAid aims to provide the most accurate but most accessible method of detecting head impact, to make it available to those most at risk- junior, school and university hockey players.</p>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </section>
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center" style="padding-bottom:20px;">
            <h1>We're All-Stars</h1>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-bolt fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Lighting fast</h4>
            <p class="text-muted">Never miss a hit. Using 802.11n WiFi and a dedicated Internet of Things communication protocol, data is transmitted near instantly, giving you metrics in real time to spot the most dangerous hits and prevent any further damage to your players.</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Machine Learning</h4>
            <p class="text-muted">Learn the game. Our Machine Learning algorithm is trained to identify the hits with the most risk, meaning that you'll make decisions with the data that matters.</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Security</h4>
            <p class="text-muted">Screen the net. All data is encrypted, giving you and your players the peace of mind that their game metrics are safe and sound from prying eyes.</p>
          </div>
        </div>
      </div>
    </section>

    <section>
        <div class="container" id="video" style="padding-top:20px;">
            <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <div class="col-sd-2">
                                    <img class="img-responsive" src="/static/img/film.png" alt="">
                                </div>
                                <div class="col-sd-10">
                                    <h6 class="display-4" style="padding-top:20px; padding-left:10px;">How does it work?</h6>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top:15px;">
                            <div class="col-lg-12 text-center">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/QVr7ECA3h2E" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
    </section>
    <section>
        <div class="container" id="technology" style="padding-top:20px;">
            <div class="row align-items-center">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <div class="col-sd-2">
                                    <img class="img-responsive" src="/static/img/cpu.png" alt="">
                                </div>
                                <div class="col-sd-10">
                                    <h6 class="display-4" style="padding-top:20px; padding-left:10px;">Technology</h6>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top:15px;">
                            <div class="col-lg-12 text-center">
                                <img style="width:80%;"src="/static/img/arch.png" alt="">
                                <p>The device is a combination of two readily available chips which are used to sense the movements of the players head and helmet and then transmit this data over a WiFi network to the server for processing. The results are then displayed in real-time on a webpage, which the coach can view on any mobile device, providing him with a clear picture of the health of his players. The monitoring is carried out by an MPU-6050: a 6 degree of freedom chip combining an accelerometer and gyroscope.</p>
                                <p>The raw data is read from this chip over I2C by the Adafruit Huzzah board which, at its core, contains an ESP8266 WiFi module. The MPU generates an interrupt to the ESP8266 when there is new data available to ensure no samples are missed. The use of interrupts allows us to continue with the immediate data processing on the board, with the samples stored in a buffer, waiting to be published to the broker and forwarded to the subscriber. </p>
                                <p>Once the data has been read to the ESP8266, it is collated into a JSON array and headers are attached to allow the server to differentiate player data and metrics. Once the subscriber has received the data, it processes it and searches for anomalies. These are normally in the form of sudden accelerations or decelerations, often accompanied by a sudden change in direction. These suggest an impact has occurred which could lead to a head injury. If the server decides the impact is large enough, it can then update the webpage to flag that a player should be taken out of play to be examined.</p>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container" id="team">
            <div class="col-lg-12 text-center">
                <div class="row">
                    <div class="col-lg-12 text-center">
                    <div class="col-sd-2">
                        <img class="img-responsive" src="/static/img/team.png" alt="">
                    </div>
                    <div class="col-sd-10">
                        <h6 class="display-4" style="padding-top:20px; padding-left:10px;">Team</h6>
                    </div>
                                        </div>
                </div>
        <div class="row">
            <div class="col-lg-12 text-center">
            <div class="row">
            <div class="col-lg-3 text-center">
                <img src="/static/img/team/martin.jpg" class="img-responsive img-circle" alt="">
                <h4 class="text-center" style="padding-top: 15px;">Martin Ferianc</h4>
                <ul class="list-inline social-buttons text-center">
                    <li><a href="https://www.linkedin.com/in/martin-ferianc-987751ab?authType=NAME_SEARCH&authToken=7-P6&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A393012535%2CauthType%3ANAME_SEARCH%2Cidx%3A1-2-2%2CtarId%3A1454210850483%2Ctas%3Aferianc%20martin" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
                    </li>
                    <li><a href="https://www.github.com/fexter-svk" target="_blank"><i class="fab fa-github fa-2x "></i></a>
                    </li>
                    <li><a href="https://www.ferianc.eu" target="_blank"><i class="fas fa-home fa-2x "></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 text-center">
                <img src="/static/img/team/owen.png" class="img-responsive img-circle" alt="">
                <h4 class="text-center" style="padding-top: 15px;">Owen Harcombe</h4>
                <ul class="list-inline social-buttons text-center">
                    <li ><a href="https://www.linkedin.com/in/owen-harcombe-27422a114/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
                    </li>
                    <li><a href="https://github.com/Odog1996" target="_blank"><i class="fab fa-github fa-2x"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 text-center">
                <img src="/static/img/team/alexl.png" class="img-responsive img-circle" alt="">
                <h4 class="text-center" style="padding-top: 15px;">Alexander Luisi</h4>
                <ul class="list-inline social-buttons text-center">
                    <li style="margin: 10px">
                        <a href="https://www.linkedin.com/in/alexander-luisi/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
                    </li>
                    <li><a href="https://github.com/luisi-at" target="_blank"><i class="fab fa-github fa-2x"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 columnd-pad text-center">
                <img src="/static/img/team/alexm.png" class="img-responsive img-circle" alt="">
                <h4 style="padding-top: 15px;">Alexander Montgomerie</h4>
                <ul class="list-inline social-buttons text-center">
                    <li>
                        <a href="https://www.linkedin.com/in/alexander-montgomerie-corcoran-83aa7312a/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
                    </li>
                    <li><a href="https://github.com/AlexMontgomerie" target="_blank"><i class="fab fa-github fa-2x"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
        </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="py-3 footer">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Martin Ferianc, Alexander T. Luisi, Owen Harcombe and Alex Montgomerie 2018 @ IC</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
{% endblock fullPage %}
<!-- Bootstrap core JavaScript -->
<script src=" {{ url_for('static', filename='js/scripts.js') }}"></script>
